@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

body,
html {
  margin: 0;
  padding: 0;
  /* background-image: url("../public/images/Desktop-1.png"); */
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-h2 {
  @apply text-primary text-3xl;
}

.footer {
  @apply flex flex-col relative;
}

.footer-h2 {
  @apply text-lg font-semibold text-white;
}

.scrolled {
  @apply fixed top-0 w-full z-20 bg-slate-300/25 backdrop-blur shadow-lg transition;
}

.selected a {
  @apply relative text-[#00B906] pb-2;
}

/*border-b-2 border-[#00B906]*/

.selected a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: limegreen;
  transition: transform 0.3s ease;
}

.fade-in {
  animation: fadeIn 1s ease-in forwards;
  @apply fixed top-0 z-10 bg-slate-300/25 backdrop-blur shadow-lg w-full;
}

.fade-out {
  animation: fadeOut 1s ease-in forwards;
  @apply fixed top-0 z-10 bg-slate-300/25 backdrop-blur shadow-lg w-full;
}

.navbar-menu {
  @apply fixed right-0 z-30 bg-slate-50 overflow-hidden h-full px-10 py-8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    @apply hidden;
  }
}
